#carouselExampleDark{
    margin-top: 100px;
    margin-bottom: 100px;
}
#werbung{
    border-style: groove;
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
}
.login-form {
    margin: auto;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 5%;
    padding: 10px;
    border-left: 1px grey solid;
    border-radius: 10px;
    box-shadow: 5px 10px #afadad;
}
.profil {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid rgb(176, 173, 173) 4px;
    background-color: #E5E5E3;


}

#shopping-cart{
    margin-left: 20px;
}
#categories{
    margin-bottom: 100px;
}