
#carouselExampleDark{
    margin-top: 100px;
    margin-bottom: 100px;
}
#werbung{
    border-style: groove;
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
}
.login-form {
    margin: auto;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 5%;
    padding: 10px;
    border-left: 1px grey solid;
    border-radius: 10px;
    box-shadow: 5px 10px #afadad;
}
#shopping-cart{
    margin-left: 20px;
}
#categories{
    margin-bottom: 100px;
}

  
  

